* {
	margin: 0px;
}
.header {
	text-align: center;
	padding: 32px;
}

.heading {
	margin: 20px;
}

.grid-container {
	display: grid;
	height: 200px;
	width: 80vw;
}

.grid-container > div {
	background-color: #34ebe1;
}

.stretch-all-fixed-spacing {
	grid-template-columns: auto auto auto auto auto;
	column-gap: 20px;
}

.stretch-middle-fixed-spacing {
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
	column-gap: 20px;
}

.alternating-grid {
	grid-template-columns: auto auto;
	column-gap: 20px;
	row-gap: 20px;
}

.alternating-grid .middle-item {
	grid-column-start: 1;
	grid-column-end: 3;
}

.three-by-three-grid {
	grid-template-columns: auto auto auto;
	gap: 10px;
}

.grid-container-oneistoone {
	display: grid;
	width: 400px;
	height: 400px;
	grid-template-columns: auto auto auto;
	gap: 1%;
}

.grid-container-oneistoone > div {
	background-color: #34ebe1;
}

.grid-container-aspect-ratio {
	display: grid;
	width: 50vw;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5% 1%;
}

.grid-container-aspect-ratio > div {
	background-color: #34ebe1;
	padding-bottom: 56.25%;
}

.vertical-bars {
	display: grid;
	width: 50vw;
	height: 300px;
	grid-template-columns: repeat(5, 10%);
	column-gap: 10%;
	align-items: flex-end;
	background-color: rgb(110, 114, 114);
}

.vertical-bars > div {
	background-color: #34ebe1;
}
